@model ApplicantList

@{
    var jobReference = ViewData["JobReference"]?.ToString();
}



<h2>Current Applicants</h2>

<form class="form-inline py-2 my-2 my-lg-0" asp-controller="Applicants" asp-action="List" method="get">
    <input type="hidden" name="sortOrder" value="@Model.CurrentSort" />
    <input type="hidden" asp-for="@jobReference" />
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Search in name or email" asp-for="@Model.SearchText" />
    </div>
    <input type="submit" value="Search" class="btn btn-secondary ml-2" />
</form>

<div class="table-responsive">
    <table class="table table-striped table-dark">
        <thead>
            <tr class="table-primary">
                <th>
                    <a asp-controller="Applicants" asp-action="List" sort-order="fullname" current-sort="@Model.CurrentSort" search-text="@Model.SearchText">
                        @Html.DisplayNameFor(model => model.Applicants.FirstOrDefault().FulllName)
                    </a>
                </th>
                <th>
                    <a asp-controller="Applicants" asp-action="List" sort-order="email" current-sort="@Model.CurrentSort" search-text="@Model.SearchText">
                        @Html.DisplayNameFor(model => model.Applicants.FirstOrDefault().Email)
                    </a>
                </th>
                <th>
                    <a asp-controller="Applicants" asp-action="List" sort-order="city" current-sort="@Model.CurrentSort" search-text="@Model.SearchText">
                        @Html.DisplayNameFor(model => model.Applicants.FirstOrDefault().City)
                    </a>
                </th>
                <th>
                    <a asp-controller="Applicants" asp-action="List" sort-order="country" current-sort="@Model.CurrentSort" search-text="@Model.SearchText">
                        @Html.DisplayNameFor(model => model.Applicants.FirstOrDefault().Country)
                    </a>
                </th>
                <th>
                    <a asp-controller="Applicants" asp-action="List" sort-order="application" current-sort="@Model.CurrentSort" search-text="@Model.SearchText">
                        @Model.JobColumnTitle
                    </a>
                </th>
                <th class="d-flex justify-content-center">
                    <a class="btn btn-sm" asp-controller="Applicants" asp-action="Add" asp-route-jobReference="@jobReference" title="Add applicant">
                        <i class="fas fa-plus text-white"></i>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var applicant in Model.Applicants)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => applicant.FulllName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => applicant.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => applicant.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => applicant.Country)
                    </td>
                    <td>
                        <job-link job-reference="@applicant.ApplicationReference"></job-link>
                    </td>
                    <td class="d-flex justify-content-center">
                        <a class="btn btn-sm" asp-controller="Applicants" asp-action="Details" asp-route-id="@applicant.ApplicantId" asp-route-jobReference="@jobReference" title="Details applicant">
                            <i class="fas fa-info-circle"></i>
                        </a>
                        <a class="btn btn-sm" asp-controller="Applicants" asp-action="Edit" asp-route-id="@applicant.ApplicantId" asp-route-jobReference="@jobReference" title="Edit applicant">
                            <i class="fas fa-pen"></i>
                        </a>
                        <form class="delete-job" asp-action="Delete" asp-controller="Applicants" asp-route-id="@applicant.ApplicantId" method="post" onclick="return confirm('Do you really want to delete this applicant?')">
                            <input type="hidden" asp-for="@applicant.ApplicantId" />
                            <button type="submit" class="btn btn-sm" title="Delete applicant">
                                <i class="fas fa-trash"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
