@model ApplicantList

@{
    var jobReference = ViewData["JobReference"]?.ToString();

    var symboleNameSort = "";
    var symboleEmailSort = "";
    var symboleCitySort = "";
    var symboleCountrySort = "";
    var symboleApplicationSort = "";
    switch (Model.CurrentSort)
    {
        case "email":
            symboleEmailSort = "fa-sort-up";
            break;
        case "email_desc":
            symboleEmailSort = "fa-sort-down";
            break;
        case "city":
            symboleCitySort = "fa-sort-up";
            break;
        case "city_desc":
            symboleCitySort = "fa-sort-down";
            break;
        case "country":
            symboleCountrySort = "fa-sort-up";
            break;
        case "country_desc":
            symboleCountrySort = "fa-sort-down";
            break;
        case "application":
            symboleApplicationSort = "fa-sort-up";
            break;
        case "application_desc":
            symboleApplicationSort = "fa-sort-down";
            break;
        case "fullName_desc":
            symboleNameSort = "fa-sort-down";
            break;
        default:
            symboleNameSort = "fa-sort-up";
            break;

    }
}



<h2>Current Applicants</h2>

<div class="table-responsive">
    <table class="table table-striped table-dark">
        <thead>
            <tr class="table-primary">
                <th>
                    <a asp-controller="Applicants" asp-action="List" asp-route-sortOrder="@Model.FullNameSort">
                        @Html.DisplayNameFor(model => model.Applicants.FirstOrDefault().FulllName) <i class="fa @symboleNameSort"></i>
                    </a>
                </th>
                <th>
                    <a asp-controller="Applicants" asp-action="List" asp-route-sortOrder="@Model.EmailSort">
                        @Html.DisplayNameFor(model => model.Applicants.FirstOrDefault().Email) <i class="fa @symboleEmailSort"></i>
                    </a>
                </th>
                <th>
                    <a asp-controller="Applicants" asp-action="List" asp-route-sortOrder="@Model.CitySort">
                        @Html.DisplayNameFor(model => model.Applicants.FirstOrDefault().City) <i class="fa @symboleCitySort"></i>
                    </a>
                </th>
                <th>
                    <a asp-controller="Applicants" asp-action="List" asp-route-sortOrder="@Model.CountrySort">
                        @Html.DisplayNameFor(model => model.Applicants.FirstOrDefault().Country) <i class="fa @symboleCountrySort"></i>
                    </a>
                </th>
                <th>
                    <a asp-controller="Applicants" asp-action="List" asp-route-sortOrder="@Model.ApplicationSort">
                        @Model.JobColumnTitle <i class="fa @symboleApplicationSort"></i>
                    </a>
                </th>
                <th class="d-flex justify-content-center">
                    <a class="btn btn-sm" asp-controller="Applicants" asp-action="Add" asp-route-jobReference="@jobReference" title="Add applicant">
                        <i class="fas fa-plus text-white"></i>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var applicant in Model.Applicants)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => applicant.FulllName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => applicant.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => applicant.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => applicant.Country)
                    </td>
                    <td>
                        <job-link job-reference="@applicant.ApplicationReference"></job-link>
                    </td>
                    <td class="d-flex justify-content-center">
                        <a class="btn btn-sm" asp-controller="Applicants" asp-action="Details" asp-route-id="@applicant.ApplicantId" asp-route-jobReference="@jobReference" title="Details applicant">
                            <i class="fas fa-info-circle"></i>
                        </a>
                        <a class="btn btn-sm" asp-controller="Applicants" asp-action="Edit" asp-route-id="@applicant.ApplicantId" asp-route-jobReference="@jobReference" title="Edit applicant">
                            <i class="fas fa-pen"></i>
                        </a>
                        <form class="delete-job" asp-action="Delete" asp-controller="Applicants" asp-route-id="@applicant.ApplicantId" method="post" onclick="return confirm('Do you really want to delete this applicant?')">
                            <input type="hidden" asp-for="@applicant.ApplicantId" />
                            <button type="submit" class="btn btn-sm" title="Delete applicant">
                                <i class="fas fa-trash"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
