@model JobList

@{
    var symboleTitleSort = "";
    var symboleReferenceSort = "";
    var symboleLocationSort = "";
    var symboleCompanySort = "";
    switch (Model.CurrentSort)
    {
        case "reference":
            symboleReferenceSort = "fa-sort-up";
            break;
        case "reference_desc":
            symboleReferenceSort = "fa-sort-down";
            break;
        case "location":
            symboleLocationSort = "fa-sort-up";
            break;
        case "location_desc":
            symboleLocationSort = "fa-sort-down";
            break;
        case "company":
            symboleCompanySort = "fa-sort-up";
            break;
        case "company_desc":
            symboleCompanySort = "fa-sort-down";
            break;
        case "title_desc":
            symboleTitleSort = "fa-sort-down";
            break;
        default:
            symboleTitleSort = "fa-sort-up";
            break;
    }
}

<h2>Current Jobs</h2>

<div class="table-responsive">
    <table class="table table-striped table-dark">
        <thead>
            <tr class="table-primary">
                <th>
                    <a asp-controller="Jobs" asp-action="List" asp-route-sortOrder="@Model.TitleSort">
                        @Html.DisplayNameFor(model => model.Jobs.FirstOrDefault().Title) <i class="fa @symboleTitleSort"></i>
                    </a>
                </th>
                <th>
                    <a asp-controller="Jobs" asp-action="List" asp-route-sortOrder="@Model.ReferenceSort">
                        @Html.DisplayNameFor(model => model.Jobs.FirstOrDefault().Reference) <i class="fa @symboleReferenceSort"></i>
                    </a>
                </th>
                <th>
                    <a asp-controller="Jobs" asp-action="List" asp-route-sortOrder="@Model.CompanySort">
                        @Html.DisplayNameFor(model => model.Jobs.FirstOrDefault().Company) <i class="fa @symboleCompanySort"></i>
                    </a>
                </th>
                <th>
                    <a asp-controller="Jobs" asp-action="List" asp-route-sortOrder="@Model.LocationSort">
                        @Html.DisplayNameFor(model => model.Jobs.FirstOrDefault().Location) <i class="fa @symboleLocationSort"></i>
                    </a>
                </th>
                <th>

                </th>
                <th class="d-flex justify-content-center">
                    <a class="btn btn-sm" asp-controller="Jobs" asp-action="Add" title="Add job">
                        <i class="fas fa-plus text-white"></i>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var job in Model.Jobs)
            {
            <tr id="job@(job.JobId)">
                <td>
                    @Html.DisplayFor(modelItem => job.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => job.Reference)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => job.Company)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => job.Location)
                </td>
                <td>
                    <job-applicant-list job-reference="@job.Reference"></job-applicant-list>
                </td>
                <td class="d-flex justify-content-center">
                    <a class="btn btn-sm" asp-controller="Jobs" asp-action="Details" asp-route-id="@job.JobId" title="Details Job">
                        <i class="fas fa-info-circle"></i>
                    </a>
                    <a class="btn btn-sm" asp-controller="Jobs" asp-action="Edit" asp-route-id="@job.JobId" title="Edit job">
                        <i class="fas fa-pen"></i>
                    </a>
                    <form class="delete-job" asp-action="Delete" asp-controller="Jobs"  asp-route-id="@job.JobId" method="post" onclick="return confirm('Do you really want to delete this job?')">
                        <input type="hidden" asp-for="@job.JobId"/>
                        <button type="submit" class="btn btn-sm" title="Delete job">
                            <i class="fas fa-trash"></i>
                        </button>
                    </form>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>